p{
 text-align: center;
}
h1{
  text-align: center;
  font-family: arial;
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#logo1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}